@font-face {
  font-family: "Courgette";
  src: url("fonts/courgette/Courgette-Regular.ttf") format('ttf');
}

.parallax-container {
  height: 1000px;
}

#imagem-fone {
  height: 100%;
  width: 100%;
}

/*.cont-destaque {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: black;
}*/

#destaque {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 60px;
  color: #8ac34a;
  opacity: 1;
  top: 40%;
}

#logo-menu {
  height: 6vh;
}
